InAppSettingsKitSampleApp/build/**
**/*.xcodeproj/*.pbxuser
**/*.xcodeproj/*.perspectivev3
**/*.xcodeproj/*.mode1v3
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/
.DS_Store
.svn
/InAppSettingsKit.xcworkspace/xcuserdata/
*.xccheckout
*.xcscmblueprint
CarthageTest
/.swiftpm
