//
//  Project.xcconfig
//  InAppSettingsKit
//
//  Created by Stephan Diederich on 19.12.12.
//  Copyright (c) 2012 InAppSettingsKit. All rights reserved.
//

SKIP_INSTALL = YES

//public headers go into $(BUILT_PRODUCTS_DIR)/$(PRODUCT_NAME), e.g. xyz/InAppSettingsKit/InAppSettingsKit.h
PUBLIC_HEADERS_FOLDER_PATH = include/$(PRODUCT_NAME)
PRIVATE_HEADERS_FOLDER_PATH = $(PUBLIC_HEADERS_FOLDER_PATH)/private

//either use $(OBJROOT)/UninstalledProducts/include or $(TargetBuildDir)/include
//TargetBuildDir works only in libraries (in apps it's "<blabla>/Application/"
HEADER_SEARCH_PATHS = $(inherited) "$(OBJROOT)/UninstalledProducts/include"
