//
//  Project.xcconfig
//  InAppSettingsKit
//
//  Created by Stephan Diederich on 19.12.12.
//  Copyright (c) 2012 InAppSettingsKit. All rights reserved.
//

IPHONEOS_DEPLOYMENT_TARGET = 4.0
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CONFIGURATION_$(CONFIGURATION)
VALID_ARCHS = i386 armv7 armv7s armv6
