<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Text Fields</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Plain</string>
			<key>Key</key>
			<string>text_plain</string>
			<key>DefaultValue</key>
			<string>Plain Text</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Right</string>
			<key>Key</key>
			<string>text_plain_right</string>
			<key>DefaultValue</key>
			<string>Plain Text</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>With image</string>
			<key>Key</key>
			<string>text_plain_pic</string>
			<key>DefaultValue</key>
			<string>Plain Text</string>
			<key>IASKCellImage</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Secure</string>
			<key>Key</key>
			<string>text_secure</string>
			<key>DefaultValue</key>
			<string>Secret</string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocorrectionType</key>
			<string>no</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>NumbersAndPunctuation</string>
			<key>Key</key>
			<string>text_NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<string>47.11</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>NumberPad</string>
			<key>Key</key>
			<string>text_NumberPad</string>
			<key>DefaultValue</key>
			<string>4711</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>DecimalPad</string>
			<key>Key</key>
			<string>text_DecimalPad</string>
			<key>DefaultValue</key>
			<string>26.08</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>DecimalPad</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>URL</string>
			<key>Key</key>
			<string>text_URL</string>
			<key>DefaultValue</key>
			<string>http://www.inappsettingskit.com</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>EmailAddress</string>
			<key>Key</key>
			<string>text_EmailAddress</string>
			<key>DefaultValue</key>
			<string>info@email.com</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Capital Sentences</string>
			<key>Key</key>
			<string>text_Sentences</string>
			<key>DefaultValue</key>
			<string>Cap sentences. Second sentence.</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>Sentences</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Capital Words</string>
			<key>Key</key>
			<string>text_words</string>
			<key>DefaultValue</key>
			<string>Words Are Capitalized</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>All Capital</string>
			<key>Key</key>
			<string>text_AllCharacters</string>
			<key>DefaultValue</key>
			<string>FORGOTTEN THE CAPSLOCK?</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>AllCharacters</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>No auto-correction</string>
			<key>Key</key>
			<string>text_auto-correction_no</string>
			<key>DefaultValue</key>
			<string>Ser1ous mitsakes</string>
			<key>IsSecure</key>
			<false/>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>text_noTitle</string>
			<key>DefaultValue</key>
			<string>Textfield without title</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>text_noTitle_image</string>
			<key>DefaultValue</key>
			<string>Textfield without title with image</string>
			<key>IASKCellImage</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Very long titles lead to smaller font</string>
			<key>Key</key>
			<string>text_longtitle</string>
			<key>DefaultValue</key>
			<string>foo bar</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Disabled adjustsFontSizeToFitWidth</string>
			<key>Key</key>
			<string>text_longtitle_ adjustsFontSizeToFitWidth_disabled</string>
			<key>DefaultValue</key>
			<string>foo bar</string>
			<key>IsSecure</key>
			<false/>
			<key>IASKAdjustsFontSizeToFitWidth</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Title Values</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Title</string>
			<key>Key</key>
			<string>title_long</string>
			<key>DefaultValue</key>
			<string>Value with a very, very long text</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Title with image</string>
			<key>Key</key>
			<string>title_pic</string>
			<key>DefaultValue</key>
			<string>Value</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>IASKCellImage</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Title</string>
			<key>Key</key>
			<string>title_elft</string>
			<key>DefaultValue</key>
			<string>Value left aligned</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Title with Lookup Table</string>
			<key>Key</key>
			<string>title_lookup</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Title with a very, very loong label</string>
			<key>Key</key>
			<string>title_longtitle</string>
			<key>DefaultValue</key>
			<string>Value is long, too</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>title_withoutlabel</string>
			<key>DefaultValue</key>
			<string>Title without label</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Unexisting lookup entry</string>
			<key>Key</key>
			<string>title_non_existing_lookup_entry</string>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>One</string>
				<string>Two</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Toggles</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Boolean Toggle</string>
			<key>Key</key>
			<string>toggle_boolean</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Toggle w/ image</string>
			<key>Key</key>
			<string>toggle_pic</string>
			<key>DefaultValue</key>
			<true/>
			<key>IASKCellImage</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>String Toogle</string>
			<key>Key</key>
			<string>toogle_string</string>
			<key>DefaultValue</key>
			<string>foo</string>
			<key>TrueValue</key>
			<string>foo</string>
			<key>FalseValue</key>
			<string>bar</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Number Toggle</string>
			<key>Key</key>
			<string>toogle_number</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>String Toogle (false)</string>
			<key>Key</key>
			<string>toogle_string_false</string>
			<key>DefaultValue</key>
			<string>bar</string>
			<key>TrueValue</key>
			<string>foo</string>
			<key>FalseValue</key>
			<string>bar</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sliders</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference1</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference2</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>slow.png</string>
			<key>MaximumValueImage</key>
			<string>fast.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference3</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>slow.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_preference4</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string>fast.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Multi Value</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Multi Value</string>
			<key>Key</key>
			<string>multivalue</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
			<key>FooterText</key>
			<string>MULTIVALUE_FOOTER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Multi Value w/ pic</string>
			<key>Key</key>
			<string>multivalue_pic</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
			<key>FooterText</key>
			<string>MULTIVALUE_FOOTER</string>
			<key>IASKCellImage</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Multi Value with a long title</string>
			<key>Key</key>
			<string>multivalue_long</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>EMPTY</string>
			<key>Key</key>
			<string>multivalue_notitle</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>EMPTY</string>
			<key>Key</key>
			<string>multivalue_notitle</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Left One</string>
				<string>Left Two</string>
				<string>Left Three</string>
			</array>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Child Pane</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Advanced</string>
			<key>File</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Advanced (right)</string>
			<key>File</key>
			<string>Advanced</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Separate highlighted image</string>
			<key>File</key>
			<string>Advanced</string>
			<key>IASKCellImage</key>
			<string>20-gear2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group with a multiline text that is word wrapped.</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Entry</string>
			<key>Key</key>
			<string>title_non_existing_lookup_entry2</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group with a customized header appearance</string>
			<key>Key</key>
			<string>IASKCustomHeaderStyle</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Another entry</string>
			<key>Key</key>
			<string>title_non_existing_lookup_entry3</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
