<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>ADVANCED_TITLE</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SLIDER_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>sensitivity</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>5</integer>
			<key>MinimumValueImage</key>
			<string>slow.png</string>
			<key>MaximumValueImage</key>
			<string>fast.png</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TEXT_FIELD_TITLE2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>TEXT_FIELD_PWD</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Key</key>
			<string>password</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TOGGLE_SWITCH_TITLE2</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>TrueValue</key>
			<integer>1</integer>
			<key>FalseValue</key>
			<integer>2</integer>
			<key>Title</key>
			<string>TOGGLE_SWITCH2</string>
			<key>Key</key>
			<string>switchOther</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Dynamic cell hiding</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>AutoConnect</string>
			<key>Title</key>
			<string>AUTO_CONNECT</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>AutoConnectLogin</string>
			<key>Title</key>
			<string>Login</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>TEXT_FIELD_PWD</string>
			<key>Key</key>
			<string>AutoConnectPassword</string>
		</dict>
	</array>
</dict>
</plist>
