<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>tags</string>
			<key>Type</key>
			<string>IASKListGroupSpecifier</string>
			<key>Title</key>
			<string>Tags</string>
			<key>ItemSpecifier</key>
			<dict>
				<key>Type</key>
				<string>PSChildPaneSpecifier</string>
				<key>Key</key>
				<string>tag</string>
				<key>File</key>
				<string>Tag</string>
				<key>Title</key>
				<string>Tag</string>
				<key>IASKTextAlignment</key>
				<string>IASKUITextAlignmentLeft</string>
			</dict>
			<key>AddSpecifier</key>
			<dict>
				<key>Type</key>
				<string>PSChildPaneSpecifier</string>
				<key>File</key>
				<string>Tag</string>
				<key>Title</key>
				<string>Add Tag...</string>
				<key>Key</key>
				<string>addKey</string>
			</dict>
			<key>Deletable</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>tags2</string>
			<key>Type</key>
			<string>IASKListGroupSpecifier</string>
			<key>Title</key>
			<string>Tags with text fields</string>
			<key>ItemSpecifier</key>
			<dict>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
				<key>IASKTextAlignment</key>
				<string>IASKUITextAlignmentLeft</string>
			</dict>
			<key>AddSpecifier</key>
			<dict>
				<key>Type</key>
				<string>PSTextFieldSpecifier</string>
				<key>IASKPlaceholder</key>
				<string>New Tag</string>
				<key>Key</key>
				<string>tag</string>
			</dict>
			<key>Deletable</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Show Accounts</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>ShowAccounts</string>
			<key>Title</key>
			<string>Show Accounts</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>accounts</string>
			<key>Type</key>
			<string>IASKListGroupSpecifier</string>
			<key>Title</key>
			<string>Accounts</string>
			<key>ItemSpecifier</key>
			<dict>
				<key>Type</key>
				<string>IASKCustomViewSpecifier</string>
				<key>File</key>
				<string>Account</string>
				<key>Title</key>
				<string>Account</string>
				<key>IASKTextAlignment</key>
				<string>IASKUITextAlignmentLeft</string>
			</dict>
			<key>AddSpecifier</key>
			<dict>
				<key>Type</key>
				<string>PSChildPaneSpecifier</string>
				<key>File</key>
				<string>Account</string>
				<key>Title</key>
				<string>Add Account...</string>
				<key>Key</key>
				<string>addAccountKey</string>
			</dict>
			<key>Deletable</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>dna</string>
			<key>Type</key>
			<string>IASKListGroupSpecifier</string>
			<key>Title</key>
			<string>DNA</string>
			<key>ItemSpecifier</key>
			<dict>
				<key>Type</key>
				<string>PSMultiValueSpecifier</string>
				<key>Key</key>
				<string>gene</string>
				<key>IASKTextAlignment</key>
				<string>IASKUITextAlignmentLeft</string>
				<key>Title</key>
				<string>Gene</string>
				<key>Titles</key>
				<array>
					<string>Adenine</string>
					<string>Cytosine</string>
					<string>Guanine</string>
					<string>Thymine</string>
				</array>
				<key>Values</key>
				<array>
					<string>A</string>
					<string>C</string>
					<string>G</string>
					<string>T</string>
				</array>
			</dict>
			<key>AddSpecifier</key>
			<dict>
				<key>Type</key>
				<string>PSMultiValueSpecifier</string>
				<key>Title</key>
				<string>Add Gene...</string>
				<key>Key</key>
				<string>gene</string>
				<key>Titles</key>
				<array>
					<string>Adenine</string>
					<string>Cytosine</string>
					<string>Guanine</string>
					<string>Thymine</string>
				</array>
				<key>Values</key>
				<array>
					<string>A</string>
					<string>C</string>
					<string>G</string>
					<string>T</string>
				</array>
			</dict>
			<key>Deletable</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
