<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>WhereTo</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
			<key>Key</key>
			<string>FacebookButton</string>
			<key>Title</key>
			<string>Facebook</string>
            <key>IASKCellImage</key>
            <string>facebook</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentCenter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>TwitterButton</string>
			<key>Title</key>
			<string>Twitter</string>
            <key>IASKCellImage</key>
            <string>twitter</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TOGGLE_SWITCH_TITLE</string>
			<key>FooterText</key>
			<string>Root~iphone.plist is used in Settings.app on iPhone running iOS 4 or higher</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>TOGGLE_SWITCH</string>
			<key>Key</key>
			<string>toggleSwitch</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MUL_VALUE_TITLE</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_1</string>
				<string>MUL_VAL_2</string>
				<string>MUL_VAL_3</string>
				<string>MUL_VAL_4</string>
				<string>MUL_VAL_5</string>
				<string>MUL_VAL_6</string>
				<string>MUL_VAL_7</string>
				<string>MUL_VAL_8</string>
				<string>MUL_VAL_9</string>
				<string>MUL_VAL_10</string>
				<string>MUL_VAL_11</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>MUL_VAL</string>
			<key>Key</key>
			<string>mulValue</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>DisplaySortedByTitle</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MUL_VAL_NO_TITLE</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_NO_TITLE_1</string>
				<string>MUL_VAL_NO_TITLE_2</string>
				<string>MUL_VAL_NO_TITLE_3</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>MUL_VAL_NO_TITLE_NIL</string>
			<key>Key</key>
			<string>mulValueOther</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TEXT_FIELD_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>TEXT_FIELD_SIG</string>
			<key>Key</key>
			<string>signature</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>This is a Footer Text (supported by Settings.app in iOS 4 or higher)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Complete List</string>
			<key>File</key>
			<string>Complete</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>ADVANCED_TITLE</string>
			<key>File</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>APPLICATION_INFO_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>DefaultValue</key>
			<string>Luc Vandal, Ortwin Gentz</string>
			<key>Key</key>
			<string>copyright</string>
		</dict>
	</array>
</dict>
</plist>
