<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>WhereTo</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>FacebookButton</string>
			<key>Title</key>
			<string>Facebook</string>
			<key>IASKCellImage</key>
			<string>facebook</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>TwitterButton</string>
			<key>Title</key>
			<string>Twitter</string>
			<key>IASKCellImage</key>
			<string>twitter</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TOGGLE_SWITCH_TITLE</string>
			<key>FooterText</key>
			<string>Root~ipad.plist is used on iPad in Settings.app running iOS 4.2 or higher</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>TOGGLE_SWITCH</string>
			<key>Key</key>
			<string>toggleSwitch</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TEXT_FIELD_TITLE</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>TEXT_FIELD_SIG</string>
			<key>Key</key>
			<string>signature</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>This is a Footer Text (supported by Settings.app in iOS 4 or higher)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>ADVANCED_TITLE</string>
			<key>File</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>CUSTOM_HEADER_FOOTER</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ButtonDemoAction4</string>
			<key>Title</key>
			<string>Button</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>APPLICATION_INFO_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>DefaultValue</key>
			<string>Luc Vandal, Ortwin Gentz</string>
			<key>Key</key>
			<string>copyright</string>
		</dict>
	</array>
</dict>
</plist>
