<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
			<key>FooterText</key>
			<string>Root~ipad.inApp.plist is used in-App on iPad</string>
			<key>Title</key>
			<string>TOGGLE_SWITCH_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>toggleSwitch</string>
			<key>Title</key>
			<string>TOGGLE_SWITCH</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MUL_VALUE_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>mulValue</string>
			<key>Title</key>
			<string>MUL_VAL</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_1</string>
				<string>MUL_VAL_2</string>
				<string>MUL_VAL_3</string>
				<string>MUL_VAL_4</string>
				<string>MUL_VAL_5</string>
				<string>MUL_VAL_6</string>
				<string>MUL_VAL_7</string>
				<string>MUL_VAL_8</string>
				<string>MUL_VAL_9</string>
				<string>MUL_VAL_10</string>
				<string>MUL_VAL_11</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>MUL_VAL_NO_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>FooterText</key>
			<string>MULTIVALUE_FOOTER</string>
			<key>Key</key>
			<string>mulValueOther</string>
			<key>Title</key>
			<string>MUL_VAL_NO_TITLE_NIL</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_NO_TITLE_1</string>
				<string>MUL_VAL_NO_TITLE_2</string>
				<string>MUL_VAL_NO_TITLE_3</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>0</string>
				<string>2</string>
			</array>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TEXT_FIELD_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>signature</string>
			<key>Title</key>
			<string>TEXT_FIELD_SIG</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>This is a Footer Text (supported by Settings.app in iOS 4 or higher)</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Complete</string>
			<key>Title</key>
			<string>Complete List</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Advanced</string>
			<key>Title</key>
			<string>ADVANCED_TITLE</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>custom segment header view:</string>
			<key>Title</key>
			<string>Extensions that are only available in-app, not in Settings.app:</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>inappsettingskit.com</string>
			<key>File</key>
			<string>http://www.inappsettingskit.com/</string>
			<key>Title</key>
			<string>Open URL</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>inappsettingskit.com</string>
			<key>File</key>
			<string>http://www.inappsettingskit.com/</string>
			<key>Title</key>
			<string>Open URL (centered)</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Tell A Friend</string>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string>InAppSettingsKit is a great way to get custom settings into your iOS app. Check it out at http://www.inappsettingskit.com/ today.</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>NO</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>InAppSettingsKit</string>
			<key>IASKMailComposeToRecipents</key>
			<array/>
			<key>Title</key>
			<string>Mail Compose View</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string>InAppSettingsKit is a great way to get custom settings into your iOS app. Check it out at http://www.inappsettingskit.com/ today.</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>NO</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>InAppSettingsKit</string>
			<key>IASKMailComposeToRecipents</key>
			<array/>
			<key>Title</key>
			<string>Mail Compose View (right)</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>IASKViewControllerClass</key>
			<string>CustomSubviewController</string>
			<key>IASKViewControllerSelector</key>
			<string>init</string>
			<key>Title</key>
			<string>Custom Subview</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>settings_about.html</string>
			<key>IASKViewControllerClass</key>
			<string>IASKAppSettingsWebViewController</string>
			<key>IASKViewControllerSelector</key>
			<string>initWithFile:key:</string>
			<key>Title</key>
			<string>WebView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>IASKLogo</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ButtonDemoAction1</string>
			<key>Title</key>
			<string>Button Action 1</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ButtonDemoAction2</string>
			<key>Title</key>
			<string>Login</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ButtonDemoAction3</string>
			<key>Title</key>
			<string>Left Aligned</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Image Buttons</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>FacebookButton</string>
			<key>Title</key>
			<string>Facebook</string>
            <key>IASKCellImage</key>
            <string>facebook</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>TwitterButton</string>
			<key>Title</key>
			<string>Twitter</string>
            <key>IASKCellImage</key>
            <string>twitter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>Left Aligned</string>
			<key>Title</key>
			<string>Left Aligned</string>
            <key>IASKCellImage</key>
            <string>twitter</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentLeft</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>Centered</string>
			<key>Title</key>
			<string>Centered</string>
            <key>IASKCellImage</key>
            <string>facebook</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentCenter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string>Right Aligned</string>
			<key>Title</key>
			<string>Right Aligned</string>
            <key>IASKCellImage</key>
            <string>facebook</string>
            <key>IASKTextAlignment</key>
            <string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Custom View</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>As an example, we use a multiline UITextView here.</string>
			<key>Key</key>
			<string>customCell</string>
			<key>Title</key>
			<string>Custom Field</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Dynamic cell hiding</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>AutoConnect</string>
			<key>Title</key>
			<string>AUTO_CONNECT</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>AutoConnectLogin</string>
			<key>Title</key>
			<string>Login</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>TEXT_FIELD_PWD</string>
			<key>Key</key>
			<string>AutoConnectPassword</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>APPLICATION_INFO_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Luc Vandal, Ortwin Gentz</string>
			<key>Key</key>
			<string>copyright</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
